<app-header-banner [headerText]="'Site Settings'"  ></app-header-banner>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="row">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Add Banner</h5>

            <div class="card-body">
                <form [formGroup]="siteBannerUploadForm" (ngSubmit)="onSubmitSiteBannerUploadForm()">
                    <div class="row">
                        <div class="col-12">
                            <label for="">Add Banner Image</label>
                            <input type="file" class="form-control" (change)="onChangeSiteBannerImage($event)">
                        </div>
                        <div class="col-12 mt-3">
                            <button class="btn btn-primary btn-sm" type="submit">Upload Banner</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="card-body">
                <form [formGroup]="wayBillRangeForm" (ngSubmit)="onSubmitWayBillRangeForm()">
                    <div class="row">
                        <div class="col-6">
                            <label for="">CeylonEx Waybill Range:</label>
                            <input type="text" class="form-control" formControlName="range">
                        </div>
                        <div class="col-6">
                            <label for="">Range Count</label>
                            <p class="mt-2">{{ this.wayBillRangeCount }}</p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>