<app-header-banner [headerText]="'Site Settings'"  ></app-header-banner>
<div class="row">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Add Banner</h5>

            <div class="card-body">
                <form [formGroup]="siteBannerUploadForm" (ngSubmit)="onSubmitSiteBannerUploadForm()">
                    <div class="row">
                        <div class="col-12">
                            <label for="">Add Banner Image</label>
                            <input type="file" class="form-control" (change)="onChangeSiteBannerImage($event)">
                        </div>
                        <div class="col-12 mt-3">
                            <button class="btn btn-primary btn-sm" type="submit">Upload Banner</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>